<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.4" id="https://addons.opera.com/extensions/details/tab-grouper/" href="https://addons.opera.com/extensions/details/tab-grouper/">
  <name>Tab Grouper</name>
  <icon src="icons/tab.png"/>
  <author href="https://github.com/starsolaris/tab_grouper" email="itmyaddress@gmail.com">Andrey Starostin</author>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/5202a8b6-3291-4c65-8346-3169758d8cca/"/>
  <description xml:lang="en">Tab Grouper is a easy way to organize a lot of tabs by grouping them by site url. Opera 12 only.</description>
  <description xml:lang="ru">Tab Grouper - это простой способ для сортировки большого количества вкладок группируя их по адресу сайта. Только для Opera 12.</description>
</widget>
