.wrapper  {
    width: 640px;
}

label {
    padding: 10px;
    margin: 0 0 10px;
    display: block;
}

label:hover {
    background: #E4E4E4;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 10px;
}
