body {
    color: #333333;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.wrapper  {
    width: 640px;
}

label {
    padding: 10px;
    margin: 0 0 10px;
    display: block;
}

label:hover {
    background: #E4E4E4;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 10px;
}
